.main__content {
    display: grid;
    gap: 16px;
    padding: 0 22px;
    padding-bottom: 32px;
}

.main__content figure {
    width: 100%;
    height: 100%;
}

.main__content figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main__content * {
    border-radius: 8px;
}

@media only screen and (min-width: 992px) {
    .main__content {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 16px;
    }

    .main__content figure {
        /*flex-shrink: 0;*/
    }
}
